@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  appearance: textfield;
  align-content: center;
}

html {
  font-family: 'Arima Madurai', serif;
  font-weight: 500;
  background-color: #eceae2;
  color: black;
}

.icon {
  vertical-align: middle;
  justify-content: right;
  stroke: blue;
}
