@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  appearance: textfield;
  align-content: center;
}

html {
  font-family: 'Poppins';
  background: hsla(188, 87%, 9%, 1);
  background: linear-gradient(
    0deg,
    hsla(188, 87%, 9%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(188, 87%, 9%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(188, 87%, 9%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#03252A", endColorstr="#000000", GradientType=1 );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#04383F", endColorstr="#000000", GradientType=1 );
}

.icon {
  vertical-align: middle;
  justify-content: right;
  stroke: blue;
}

h1 {
  color: white;
  animation: flicker 1.5s infinite alternate;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 10px #0fa, 0 0 15px #0fa;
}

.card {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.1rem #0e5e4c,
    0 0 0.8rem #0e5e4c, 0 0 0.8rem #0e5e4c, inset 0 0 0.3rem #0e5e4c;
  border-radius: 20px;
}

.card-error {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.1rem coral,
    0 0 0.8rem coral, 0 0 0.8rem coral, inset 0 0 0.3rem coral;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 40px #0e5e4c,
      0 0 10px #0e5e4c, 0 0 10px #0e5e4c, 0 0 10px #0e5e4c, 0 0 15px #0e5e4c;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
