@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --modal: #36c7dd;
}

input {
  appearance: textfield;
  align-content: center;
}

img {
  border-radius: 50%;
}

html {
  font-family: 'Poppins';
  background: hsla(188, 87%, 9%, 1);
  background: linear-gradient(
    0deg,
    hsla(188, 87%, 9%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(188, 87%, 9%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(188, 87%, 9%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#03252A", endColorstr="#000000", GradientType=1 );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#04383F", endColorstr="#000000", GradientType=1 );
}

.icon {
  vertical-align: middle;
  justify-content: right;
  stroke: blue;
}

h1 {
  color: white;
  animation: flicker 1.5s infinite alternate;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 10px #0fa, 0 0 15px #0fa;
}

.title {
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #0fa,
    0 0 1px #0fa, 0 0 2px #0fa, 0 0 1px #0fa, 0 0 1px #0fa;
}

.card {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.1rem #0e5e4c,
    0 0 0.8rem #0e5e4c, 0 0 0.8rem #0e5e4c, inset 0 0 0.3rem #0e5e4c;
  border-radius: 20px;
}

.card-violet {
  border: 2px solid #570e5e;
  background-color: #570e5e33;

  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.1rem #570e5e,
    0 0 0.8rem #570e5e, 0 0 0.8rem #570e5e, inset 0 0 0.3rem #570e5e;
  border-radius: 20px;
}

.card-error {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.1rem coral,
    0 0 0.8rem coral, 0 0 0.8rem coral, inset 0 0 0.3rem coral;
  border-radius: 20px;
}

.card-info {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.1rem #505cff,
    0 0 0.8rem #505cff, 0 0 0.8rem #505cff, inset 0 0 0.3rem #505cff;
  border-radius: 20px;
}

.card-blue {
  background-color: #5297ff46;

  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.1rem #5297ff,
    0 0 0.8rem #5297ff, 0 0 0.8rem #5297ff, inset 0 0 0.3rem #5297ff;
  border-radius: 20px;
}

.card-orangi {
  background-color: #ffa65252;

  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.1rem #ffa652,
    0 0 0.8rem #ffa652, 0 0 0.8rem #ffa652, inset 0 0 0.3rem #ffa652;
  border-radius: 20px;
}

.card-hover {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.1rem #5297ff,
    0 0 0.8rem #5297ff, 0 0 0.8rem #5297ff, inset 0 0 0.3rem #5297ff;
  border-radius: 20px;
}

.card-white {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.1rem var(--modal),
    0 0 0.4rem var(--modal), 0 0 0.4rem var(--modal),
    inset 0 0 0.3rem var(--modal);
  border-radius: 20px;
}

.card-hover:hover {
  background-color: #5297ff46;
}

h3 {
  font-weight: 600;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 40px #0e5e4c,
      0 0 10px #0e5e4c, 0 0 10px #0e5e4c, 0 0 10px #0e5e4c, 0 0 15px #0e5e4c;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
